crystal_osc_test/planAhead_run_5/
crystal_osc_test/planAhead_run_4/crystal_osc_test.data/sources_1/fileset.xml
crystal_osc_test/planAhead_run_4/
crystal_osc_test/planAhead_run_3/
crystal_osc_test/planAhead_run_2/
crystal_osc_test/planAhead_run_1/
crystal_osc_test/isim/
crystal_osc_test/ipcore_dir/
*.log
*.xmsgs
*.debug
*.cmd
*.exe
*.wdb
*.ini
*.xise
*.tcl
*.in
*.out
integ100/ipcore_dir/fifo_recieve/
*.vhi
*.ncf
*.spl
*.sym
*.c
*.obj
*.didat
*.dbg
*.vdb
integ100/isim/
integ100/netgen/
integ100/ipcore_dir/clk_generator/
integ100/ipcore_dir/fifo_trans/
